<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Application{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
        {% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue dans le Carnet de Contacts!</h1>
        <p class="lead">Une simple application pour gérer vos contacts.</p>
        <hr class="my-4">
        <p>Cliquez sur les boutons ci-dessous pour vous connecter ou créer un compte.</p>
        <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Connexion</a>
        <a class="btn btn-secondary btn-lg ml-2" href="{{ path('app_register') }}" role="button">Créer un compte</a>
    </div>
{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
