<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Mon Application{% endblock %}</title>

    <!-- Styles Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Icônes Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    {% block body %}
        {% include 'header.html.twig' %}
        <div class="container mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Bienvenue dans le Carnet de Contacts!</h1>
                <p class="lead">Une simple application pour gérer vos contacts.</p>
                <hr class="my-4">
                <p>Cliquez sur les boutons ci-dessous pour vous connecter ou créer un compte.</p>
                <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Connexion</a>
                <a class="btn btn-secondary btn-lg ml-2" href="{{ path('app_register') }}" role="button">Créer un compte</a>
            </div>
        </div>
    {% endblock %}

    <!-- Scripts JS pour Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
